@import "./mixin";

body{
    article{
        background-color: lavender;
        height: 100%;
        @include flex(row);
        
        nav {
            position: sticky;
            left: 0rem; top: 0rem;
            @include flex(column);
            align-items: center;
            height: 100%;
            width: 20rem;
            z-index: 5;
            background-color: rgb(62, 62, 82);
    
            #profilePicture {
                padding-top: 1rem;
                border-radius: 100%;
                width: 15vw;
                height: auto;
            }

            .navNavigationCont{
                @include flex(column);
                justify-content: space-evenly;
                height: 100%;
                text-align: center;
                background-color: rgb(62, 62, 82);

                .navNavigation{
                    color: white;
                    font-size: 250%;
                    text-align: center;
                    padding: {
                        left: 1rem;
                        right: 1rem;
                    }
                    border-radius: 30px;
                }

                .active{
                    background-color: rgb(44, 44, 58);
                }
            }
        }
    }
}