@import "./mixin";

body{
    height: 100vh;
    @include flex(column);

    header {
        z-index: 100;
        @include flex(row);
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4rem;
        background-color: rgb(50, 50, 62);
        position: sticky;
        top: 0;

        #profileName{
            font-size: 250%;
            color: white;
            padding-right: 1.5rem;
        }

        #backArrow{
            position: fixed;
            left: 3rem;
            filter: invert(1);
            height: 5%
        }

        #logOut{
            position: fixed;
            right: 3rem;
            font-size: 150%;
            color: white;
        }

        #search{
            filter: invert(1);
            height: 2.5rem;
            padding-left: 1.5rem;
        }

        #searchInput{
            height: 0rem;
            padding-left: .5rem;
            display: none;
            width: 0rem;
        }
    }

    article{
        background-color: lavender;
        height: 100%;
        @include flex(row);
        
        nav {
            position: sticky;
            left: 0rem; top: 0rem;
            @include flex(column);
            align-items: center;
            height: 100%;
            width: 20rem;
            z-index: 5;
            background-color: rgb(62, 62, 82);
    
            #profilePicture {
                padding-top: 1rem;
                border-radius: 100%;
                width: 15vw;
                height: auto;
            }

            .navNavigationCont{
                @include flex(column);
                justify-content: space-evenly;
                height: 100%;

                .navNavigation{
                    color: white;
                    font-size: 250%;
                }
            }
        }
    }
}